@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);

.error-message {
  background: #f8d7da;
  color: #721c24;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form-group .error-message {
  background: #f8d7da;
  color: #721c24;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
}
